!!! 5
%html
  %head
    %title Bendylunch
    = stylesheet_link_tag 'application', :media => 'screen, projection'
    = stylesheet_link_tag 'print', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie', :media => 'screen, projection'
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render partial: '/google_analytics'
  %body
    = yield
